<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">NCBI Tools</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/nucleotide-download">Nucleotide Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sequence-fetch">Sequence Fetch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dna-analysis">DNA Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/design-primers">Design Primers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/variant-analysis">Variant Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sequence-comparison">Sequence Comparison</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pubmed-search">PubMed Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#globalCitation">Cite Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Spacer for fixed navbar -->
<div style="margin-top: 56px;"></div> 